@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@page { margin-top: 10px; }
body{
	padding-top: 0px;
	border-top: -10px;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	/*border: solid 1px black;*/
}

.header{
	margin: 20px 0;
	text-align: center;
}
.header .title{
	font-size: 22px;
	font-weight: bold;
}
.border{
	border: solid 1px black;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.table-items, .table-total{
	width: 100%;
	border-collapse:collapse;
	border: none;
}
.table-total{
	font-size: 15px;
}
.item-left{
	float: left;
}
.label{
	display: inline-block;
	width: 15%;
}
.data-header{
	display: inline-block;
}
.data-header-1{
	display: inline-block;
	width: 30%;
}
footer{
	background-color: #03a9f4;
	position: fixed;
	bottom: 100px;
}