@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@page { margin-top: 10px; }
body{
	padding-top: 0px;
	border-top: -10px;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	/*border: solid 1px black;*/
}

.header{
	margin: 20px 0;
	text-align: center;
}
.header .title{
	font-size: 22px;
	font-weight: bold;
}
.label{
	display: inline-block;
	width: 15%;
}
.border{
	border: solid 1px black;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.table-items, .table-total{
	width: 100%;
	border-collapse:collapse;
	border: none;
}
.th1{
	width: 8%;
}
.th2{
	width: 60%;
}
.th3{
	width: 8%;
}
.th4{
	width: 12%;
}
.th5{
	width: 12%;
}

.table-total{
	font-size: 15px;
}

.item-left{
	float: left;
}
.header{
	margin: 20px 0;
}